<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Looking for collaborators!</h2>
                <hr class="light">
                <p class="text-faded">URAMILABS (URban Ambient Inteligence LABoratorieS) started as a student project (there were four of us). Our goal was to create everything you need to get your little sensors running and collect noise data in no time! All of the code and data is open source, free to download, and easy to use.</p>
                <a href="https://github.com/uramilabs/urami" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
